# OS
Thumbs.db
.DS_Store
.ignore*/

# Editors
.vs/
.vscode/
.idea/
.fleet/
.zed/

# Rust
debug/
target/
Cargo.lock
**/*.rs.bk
*.pdb

# Generated
*.backup
coverage/

# Output
build/
output/
dist/

# Environment
.env*
!.env.example

# Logs
logs/
*.log
*.log*
